<div id="{{xfId}}" class="groupPanel panel infSearchResultPanel">
    <table class="table batchResults panel-collapse collapse in">
        <tbody id="infSearchResultTable"></tbody>
    </table>
</div>