<div class="col-md-3 influent-view-toolbar-datepicker">

	<div class="btn-group">
		<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">MMM DD, YYYY to MMM DD, YYYY <span class="caret"></span></button>
		<ul class="datepicker-dropdown-content dropdown-menu" role="menu">
			<li role="presentation" class="dropdown-header">Specify a Time Range</li>
			<li><div id="datepicker-container"><input id="datepicker-from" type="text" placeholder="start date"><span>to</span><input id="datepicker-to" type="text" placeholder="end date"><div id="datepicker-warning"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span><span> Start date should be before end date</span></div></div></li>
			<li role="presentation" class="dropdown-header"><div id="time-window-header">Choose Matching Time Window</div></li>
		</ul>
	</div>
</div>
