<div class="navbar-right md-col-2 influent-view-toolbar-pattern-search">
	<div class="btn-group">
		<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
			Patterns
			<span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
			<li>
				<a href="#" id="{{id}}" title="{{tooltip}}">
					<span class="influent-ui-icon {{icon}}"></span>
					{{text}}
				</a>
			</li>
		</ul>
	</div>
</div>