<div class="col-xs-offset-2 col-xs-8">
	<div class="input-group">
		<input id="influent-view-toolbar-search-input" type="text" class="form-control">
		<span class="input-group-btn">
			<button class="btn btn-default dropdown-toggle infAdvSearchShow" data-toggle="modal"><span class="glyphicon glyphicon-search"></span><span class="caret"></span></button>
		</span>
	</div>
</div>
<div class="col-xs-2">
	<button class="btn btn-default infGoSearch" type="button">Search</button>
</div>
