#
# Any application specific properties for the app server, including
# any overrides for the default aperture service config 
#

#----------------------
# SimpleShiroAuthModule
#----------------------
shiro.hashAlgorithmName = MD5
shiro.redirectUrl = /login.jsp
shiro.loginUrl = /login.jsp
shiro.successUrl = /

#------------------------
# Config Files
#------------------------
aperture.client.configfile = res:///dev-client-config.js
influent.midtier.property.configfile = property-config.xml
influent.midtier.database.configfile = database-config.xml

#--------------------------
# Midtier Server Properties
#--------------------------
influent.midtier.server.name = lemon
influent.midtier.server.port = 1433
influent.midtier.database.name = KivaDatabaseExtras
influent.midtier.user.name = influent
influent.midtier.user.password = 9E~1rVb' 0E=sicfo

#-----------------------
# Solr Server Properties
#-----------------------
influent.midtier.solr.url = http://192.168.1.44:8983/solr/kiva

#------------------------
# Pattern Search Database
#------------------------
influent.pattern.search.remoteURL = http://solr:8805/pattern/search/example
influent.pattern.search.useHMM = false
