<!DOCTYPE web-app PUBLIC
"-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	
	<display-name>Bitcoin Server</display-name>

	<!-- Module Configuration -->
	<!-- If you have your own Guice module(s), put them here as a colon-separated
		list. -->
	<context-param>
		<param-name>guice-modules</param-name>
		<param-value>
			influent.server.RestConfigModule:
			oculus.aperture.icons.BaseIconModule: 
			oculus.aperture.parchment.ParchmentModule:
			oculus.aperture.cms.EhCacheCmsModule:
			oculus.aperture.capture.PhantomCaptureModule:
			influent.server.spi.SQLConnectionPoolModule:
			influent.server.spi.BasicCountryGeocodingModule:
			influent.bitcoin.server.spi.BitcoinModule:
			influent.bitcoin.server.spi.BitcoinFLDataAccessModule:
			influent.bitcoin.server.spi.BitcoinFLEntitySearchModule:
			<!--influent.bitcoin.server.spi.BitcoinFLClusteringModule:-->
			influent.bitcoin.server.spi.BitcoinFLDynamicClusteringModule:
			influent.bitcoin.server.spi.BitcoinCachedPersistenceModule:
			influent.server.spi.RestPatternSearchModule:
		</param-value>
	</context-param>

	<!-- Config File Location -->
	<!-- Provide the path to the config defaults override properties file here to
		override the default values -->
	<context-param>
		<param-name>apertureConfig</param-name>
		<param-value>res:///app.properties</param-value>
	</context-param>

	<context-param>
		<param-name>ehcacheConfig</param-name>
		<param-value>res:///ehcache.xml</param-value>
	</context-param>
	
	<!-- OPTIONALLY add context-param for ehcacheConfig File Location here -->
	
	<!-- Run all requests through the Guice servlet filter -->
	<filter>
		<filter-name>guiceFilter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>guiceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Servlet config must run on app deployment -->
	<listener>
		<listener-class>oculus.aperture.ApertureServerConfig</listener-class>
	</listener>
</web-app>
