<div class="infEmptyViewHint">
    Enter terms in the field above to search for specific transactions.<br>
    Use the [<img src="img/search-small.png"/>] advanced search button to define more specific criteria.
	{{#if appHint}}
        <br><br>HINT: {{appHint}}
	{{/if}}
</div>