<div class="simpleViewContentsContainer">
	<div class="infSearchResultsContainer">
		<div id='infTransactionsSearchResultsHeader' class="infSearchResultsHeaderContainer"></div>
		<div class="infScrollMask"></div>
		<div class="infSearchResultScroll">
			<div class="infScrollReserve">
				<div id='infTransactionsSearchResults' class="infSearchResults"></div>
				<div id='infTransactionsSearchResultsFooter' class="infSearchResultsFooter"></div>
			</div>
		</div>
	</div>
</div>