<div class="simpleViewContentsContainer">
	<div class="infSearchResultsContainer">
		<div id='infAccountSearchResultsHeader' class="infSearchResultsHeaderContainer"></div>
		<div class="infScrollMask"></div>
		<div class="infSearchResultScroll">
			<div class="infScrollReserve">
				<div id='infAccountSearchResults' class="infSearchResults"></div>
				<div id='infAccountSearchResultsFooter' class="infSearchResultsFooter"></div>
			</div>
		</div>
	</div>
</div>