<div class="columnHeader" style="display: none"></div>
<div class="columnContainer"></div>
{{#if hint}}
	<div class="columnHint">{{{hint}}}</div>
{{/if}}
<div class="columnOverlay" style="display: none;">
	<div class="columnOverlaySpinner"></div>
</div>
