<div class="infEmptyViewHint">
	To explore transaction flow<br>
	select accounts to branch out from.
{{#if aboutFlow}}
	<br>(<a target = "_blank" href="{{aboutFlow}}">click here for more information</a>).
{{/if}}	
</div>
<button type="button" id="flowShortcutAccounts" class="btn btn-block center-block">Search Accounts</button>
